:root {
    --default-width: 1024px;
    --mobile-width: 640px;

    --background: #EEE;
    --secondary-background: #DDD;

    --primary: #0077cc;
    --blue-sharp: #0099de;

    --text: #111;
    --secondary-text: #FFF;

    --input-background: #f9f9f9;
    --input-border: #CCC;
}
