@page
@using net8auth.auth.Pages
@model HomeModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You should be redirected here after login!</p>
</div>
